<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.chemical.mapper.DeviceInfoMapper">

    <resultMap type="DeviceInfo" id="DeviceInfoResult">
        <result property="deviceId"    column="device_id" />
        <result property="deviceCode"    column="device_code" />
        <result property="deviceName"    column="device_name" />
        <result property="locationId"    column="location_id" />
        <result property="school"    column="school" />
        <result property="manager"    column="manager" />
        <result property="heartTime"    column="heart_time" />
        <result property="createTime"    column="create_time" />
        <result property="status"    column="status" />
        <result property="createBy"    column="create_by" />
        <result property="updateBy"    column="update_by" />
        <result property="updateTime"    column="update_time" />
        <result property="remark"    column="remark" />
        <result property="userName"    column="user_name" />
        <result property="locationDetail"    column="location_detail" />
        <result property="enableState"    column="enable_state" />
        <result property="alarmLevel"    column="alarm_level" />
        <result property="alarmStatus"    column="alarm_status" />
        <result property="eventId"    column="event_id" />
        <result property="devSecret"    column="dev_secret" />
        <result property="devIdentity"    column="dev_identity" />
    </resultMap>

    <select id="selectAllList" resultType="com.ruoyi.chemical.domain.DeviceInfo" parameterType="com.ruoyi.chemical.domain.DeviceInfo">
        SELECT dev.*,lc.school_name as school,lc.detail as location_detail
        from device_info dev,location lc
        <where>
            dev.location_id = lc.id
            <if test="deviceCode !=null">
                AND dev.device_code = #{deviceCode}
            </if>
            <if test="devIdentity !=null">
                AND dev.dev_identity = #{devIdentity}
            </if>

            <!--            <if test="status !=null">-->
<!--                AND dev.status = #{status}-->
<!--            </if>-->
            <if test="locationDetail !=null">
                AND lc.detail = #{locationDetail}
            </if>
            <if test="school !=null">
                AND lc.school_name = #{school}
            </if>
            <if test="userName !=null and userName!='admin'">
                AND dev.user_name = #{userName}
            </if>

            <if test="createTime !=null">
                AND DATE_FORMAT(dev.create_time,'%Y-%m-%d')=date(#{createTime})
            </if>

        </where>

    </select>

</mapper>
