<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.chemical.mapper.ManagementMapper">

    <resultMap type="Management" id="ManagementResult">
        <result property="id"    column="id" />
        <result property="userId"    column="user_id" />
        <result property="userName"    column="user_name" />
        <result property="phone"    column="phone" />
        <result property="email"    column="email" />
        <result property="locationId"    column="location_id" />
        <result property="location"    column="location" />
        <result property="school"    column="school" />
        <result property="building"    column="building" />
        <result property="floor"    column="floor" />
        <result property="createTime"    column="create_time" />
        <result property="createBy"    column="create_by" />
        <result property="updateBy"    column="update_by" />
        <result property="updateTime"    column="update_time" />
        <result property="remark"    column="remark" />
    </resultMap>


<!--    <select id="selectManagementList" resultType="com.ruoyi.chemical.domain.Management" parameterType="com.ruoyi.chemical.domain.Management">-->
<!--        select mg.id, mg.user_id,user.nick_name as user_name,user.phonenumber as phone,user.email,lc.school_name as-->
<!--        school ,lc.building,lc.floor,lc.detail, CONCAT_WS('-',lc.school_name,lc.building,lc.floor) as location,mg.create_time-->
<!--        from management mg,device_info dev,location lc,sys_user user-->
<!--        <where>-->
<!--            mg.device_id= dev.device_id-->
<!--            and lc.id = dev.location_id-->
<!--            and mg.user_id=user.user_id-->
<!--            <if test="userName !=null">-->
<!--                AND user.nick_name = #{userName}-->
<!--            </if>-->
<!--            <if test="phone !=null">-->
<!--                AND user.phonenumber= #{phone}-->
<!--            </if>-->
<!--        </where>                                                                                                                                                                      device_info  dev,location lc ,sys_user user-->
<!--    </select>-->



   <!--     <select id="selectManagementList" resultType="com.ruoyi.chemical.domain.Management" parameterType="com.ruoyi.chemical.domain.Management">
            select mg.id, mg.user_id,user.nick_name as user_name,user.phonenumber as phone,user.email,lc.school_name as
                 school ,lc.building,lc.floor,lc.detail, CONCAT_WS('-',lc.school_name,lc.building,lc.floor) as location,mg.create_time from management mg,
                 device_info  dev,location lc ,sys_user user
            where mg.device_id= dev.device_id and lc.id = dev.location_id and mg.user_id=user.user_id
              and user.nick_name='zhangsan' and user.phonenumber='18887778877'
        </select>-->

           <select id="selectManagementList" resultType="com.ruoyi.chemical.domain.Management" parameterType="com.ruoyi.chemical.domain.Management">
              select mg.id, mg.user_id,user.nick_name as user_name,user.phonenumber as phone,user.email,lc.school_name as
                   school ,lc.building,lc.floor,lc.detail, CONCAT_WS('-',lc.school_name,lc.building,lc.floor) as location,mg.create_time from management mg,
                   device_info  dev,location lc ,sys_user user
              where mg.device_id= dev.device_id and lc.id = dev.location_id and mg.user_id=user.user_id
                           <if test="userName !=null">
                               AND user.nick_name = #{userName}
                           </if>
                           <if test="phone !=null">
                               AND user.phonenumber= #{phone}
                           </if>
                           <if test="userIdList !=null">
                               AND user.user_id in
                               <foreach item="item" index="index" collection="userIdList" open="(" separator="," close=")">
                                  #{item}
                               </foreach>
                           </if>
                           <if test="location !=null and location!=''">
                               <!--                      AND CONCAT_WS('-',lc.school_name,lc.building,lc.floor) = #{location}-->
                              AND CONCAT_WS('-',lc.school_name,lc.building,lc.floor) LIKE CONCAT('%', #{location}, '%')
                           </if>

          </select>

    <select id="selectManagementById" resultType="com.ruoyi.chemical.domain.Management" parameterType="com.ruoyi.chemical.domain.Management">
        select mg.id, mg.user_id,user.nick_name as user_name,user.phonenumber as phone,user.email,lc.school_name as
        school ,lc.building,lc.floor,lc.detail, CONCAT_WS('-',lc.school_name,lc.building,lc.floor) as location,mg.create_time from management mg,
        device_info  dev,location lc ,sys_user user
        where mg.device_id= dev.device_id and lc.id = dev.location_id and mg.user_id=user.user_id
            and mg.id = #{id}
    </select>
</mapper>
